<div class="well">
	<%= render 'title_section', :article => article %>
	<div class="oor-article-summary oor-justify-text-align">
		<%= render "oor_summary_#{article.id}", :article => article %>
	</div>
</div>