<div class="well">
	<%= render 'title_section', :article => article %>
	<p>
		<%= article.description %>
		<%= link_to article_path(article) do %>
			Read More <i class="icon-signin"></i>
		<% end %>
	</p>
</div>