<% content = code %>
<% if defined?(lang) %>
	<% content = highlight_code(lang, code).html_safe %>
<% end %>
<div class="oor-code-block">
	<div class="oor-code-header">
		<%=title%>
	</div>
	<div class="oor-code-ray">
		<div class="code">
			<pre><%=content%></pre>
		</div>
	</div>
</div>	