<p>
	Recently I installed the <%= link_to "http://rubygems.org/gems/pg" do%>pg<% end %> gem to use <%= link_to "www.postgresql.org/" do %>Postgres<% end %>. Later when I try to start rails, I got the following error:
</p>
