<div class="navbar navbar-fixed-top">
	<div class="navbar-inner" id="oorNav">
		<div class="container">
			<div class="navbar-content">
				<ul class="nav">
					<li>
						<%= link_to root_url, :class => "brand" do %>
							Odyssey On Rails
						<% end %>
					</li>
				</ul> 
				<ul class="nav pull-right">
					<li>	
						<%= link_to about_path do %>
							About
						<% end %>
					</li>
				</ul> 
			</div>
		</div>
	</div>
</div>